.ats-container {
  position: relative;
}

.ats-container__image {
  width: 100%;
}

.composition-button {
  position: absolute;
  background: transparent;
  box-shadow: 2px 3px 5px green, -1px -1px 5px green;
}

.ats-container__electr-button {
  top: 48%;
  left: 7%;
  width: 7%;
  height: 8%;
}

.ats-container__com-1-2-button {
  top: 48%;
  left: 7%;
  width: 7%;
  height: 8%;
}

.ats-container__al-1-4-button {
  top: 299px;
  left: 290px;
  width: 50px;
  height: 50px;
}

.ats-container__al-5-8-button {
  top: 299px;
  left: 290px;
  width: 50px;
  height: 50px;
}

.ats-container__al-9-12-button {
  top: 299px;
  left: 350px;
  width: 50px;
  height: 50px;
}

.ats-container__al-13-16-button {
  top: 299px;
  left: 405px;
  width: 50px;
  height: 50px;
}
