.composition-section__title {
  margin: 20px auto;
  text-align: center;
  font-weight: bold;
}

.image-container {
  position: relative;
}

.image-container__image {
  width: 100%;
}

.composition-button {
  position: absolute;
  background: transparent;
  box-shadow: 2px 3px 5px green, -1px -1px 5px green;
  cursor: pointer;
}

.electr-button {
  top: 48%;
  left: 7%;
  width: 7%;
  height: 8%;
}

.com-1-2-button {
  top: 48%;
  left: 25%;
  width: 5%;
  height: 8%;
}

.al-1-4-button {
  top: 48%;
  left: 31%;
  width: 5%;
  height: 8%;
}

.al-5-8-button {
  top: 48%;
  left: 37%;
  width: 6%;
  height: 8%;
}

.al-9-12-button {
  top: 48%;
  left: 43%;
  width: 6%;
  height: 8%;
}

.al-13-16-button {
  top: 48%;
  left: 50%;
  width: 5%;
  height: 8%;
}
