.test-container__type {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 10rem;
}

.test-container__type-buttons {
    display: flex;
    justify-content: space-evenly;
    margin-top: 3rem;
}

.test-container__user-form {
    flex-direction: column;
}

.test-container__user-form-credentials {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 30%;
    align-self: center;
}

.test-container__user-form-submit {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.test-container__question-container {
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
}

.test-container__question-container_header {
    flex: 100%;
}

.test-container__question-container_header-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.test-container__question-container_header-title_value {

}

.test-container__question-container_header-title_counter {

}

.test-container__question-container_header-description {

}


.test-container__question-container_header-value {

}

.test-container__question-container_answers {
    flex: 100%;
}

.test-container__question-container_answers-list {
    list-style: none;

}

.test-container__buttons {
    justify-content: space-between;
    margin-top: 5rem;
}

.test-container__result {
    display: flex;
    flex-direction: column;
}

.test-container__result_user-info {
    height: 2.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    background-color: #d9edf7;
    margin-bottom: 3rem;
    border-radius: 5px;
}

.test-container__result_user-info_item {
    margin-bottom: 0;
}




.result{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2vh;
    width: 100%;
}

.result div a{
    display: block;
    width: 100%;
    height: 100%;
    color: black;
    text-decoration: none!important;
}

.result h3{
    grid-row: 1;
    grid-column: 1/4;
}

.result div{
    grid-row: 2;
}

.result div:nth-child(1){
    grid-column: 2;
}


.result div:nth-child(2){
    grid-column: 2;
}

.result div:nth-child(3) {
    grid-column: 3;
}

.question-status-true {
    display: block;
    width: 25px;
    height: 25px;
    background-image: url("../images/true.png");
    background-repeat: no-repeat;
}

.question-status-false {
    display: block;
    width: 25px;
    height: 25px;
    background-image: url("../images/false.png");
    background-repeat: no-repeat;
}
